
.html-generator{
    display: flex;
    border: 2px solid black;
    height: 600px;

}

.html-generator >* {
    flex-basis: 50%;
}

.output-section{
    background-color: aqua;
    border: 2px solid blue;
}