.card{
    padding:0.5rem;
    background-color: rgb(182, 226, 226);
    border: 2px solid rgb(78, 78, 250);
    width: 80%;
    margin: 0.5rem;
    display: inline-block;
    width:500px;
}


span {
    font-size: 1rem;
    color: rgb(87, 85, 85);
    font-style: italic;
    /* width: 200px; */
}

.text1{
    font-size: 1.5rem;
    color: black;
    /* width: 150px; */
}


.pagination{
    align-items: .justify-content-center;
}