body{
    padding: 0;
    margin: 0;
background-color: black;
margin: 0 auto;

}


.error{
    border:3px solid red;
    background-color:rgb(255, 116, 116);

}

.valid{
    border:1px solid green;
    background-color: rgb(152, 255, 152);
}

.login_page {
    /* background-color: aquamarine; */
    display: flex;
    gap: 2rem;
    justify-content:space-around;
    align-items: center;
    margin-top: 5rem;
}


.reg_page{
    /* background-color: aquamarine; */
    display: flex;
    gap: 1rem;
    justify-content:space-evenly;
    align-items: center;
    margin-top: 5rem;
}
.login_img{
    /* width: 300px; */
}

.login_header, .reg_header{
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 62px;
    color: #FFFFFF;

}

.input_label{
font-family: 'Padauk';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
}

.input_span{
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
}

div>::placeholder{
    color: #707070;
}

.input_field {
width: 20rem;
padding:0.5rem;
/* border: 1px, solid black; */
/* background-color:#FFFFFF; */
}

.btn_login{
    padding:0.5rem;
    width: 8rem;
    background-color:#015FC7;
    border: 1px solid #015FC7;
    cursor: pointer;   
}

.btn_login2{
    padding:0.5rem;
    width: 8rem;
    background-color:#015FC7;
    border: 1px solid #015FC7;
    cursor: pointer;   
    justify-content:center;
    align-items: center;
}

.btn_login >div{
    text-transform: uppercase;
    display: flex;
    justify-content:center;
    align-items: center;
    font-family: 'Padauk';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
    color: #FFFFFF;
    

}

.reg_text{
    color: #FFFFFF;
}
.reg_text >a{
    color: #015FC7;
    text-decoration: none; 
    cursor: pointer;
}