
body{
    width: 1200px;
}

.product-page{
    display: flex;
    margin-top: 2rem;
    margin-bottom: 4rem;

}


.proguct-galery{
    width:45%;
    /* display: flex;
    flex-direction: column; */
    padding:0.5rem;
}

.proguct-galery, .product-information{
    padding:0 0rem;
}

.main-image {
    text-align: center;
    padding:1rem;

}

.addit-images{
    display: flex;
    flex-direction: row;
text-align: center;
justify-content:center;
align-content: center;
}

.addit-images a{
padding: 2rem;
}

.addit-images img{
    border: 1px solid #B93B54;
    padding: 1rem;
}

.product-information{
    max-width:50%;
    padding: 0 1rem;
    display: inline-block;
}

.product-name-wrap, .product-rank-wrap {
    /* display:flex;
    flex-direction: row; */
    display: block ruby;
}

.product-item-name{
    /* align-content: flex-end; */
font-family: 'Oswald';
font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 71px;
color: #000000;
}

.product-item-article{
    /* align-content: flex-end; */
font-family: 'Oswald';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 22px;
color: #000000;
}

.product-price-wrap{
    margin-top:1rem;
}

.product-price-wrap div{
    text-align: left;
    
}

.product-color-wrap{
    margin-top:1rem;
}

.product-color-wrap div{
    text-align: left;
}

.product-size-wrap{
    margin-top:1rem;
}

.product-size-wrap div{
    text-align: left;
}

.available-sizes{
    /* margin-top:1rem; */
    display:flex;
    flex-wrap: wrap;
}

.available-sizes div{
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    vertical-align: middle;
    margin: 0.5rem;
    padding:0.3rem;
    text-align: center;
    border: 1px solid black;
    /* background-color: #F1F1F1; */
font-family: 'Oswald';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 27px;
color: #000000;

}

.product-buttons-wrap{
    
    margin-top:1rem;
    display: flex;
    /* padding: 2rem; */
    justify-content:baseline;

}

.product-buttons-wrap .item-button{
    /* margin: 0 1rem; */
}

.item-button{
    margin: 0 0.7rem;
}

.product-buttons-wrap button{
    width: 250px;

}

.button3{
      /* justify-self: center; */
      display: flex;
  align-items: center;
  justify-content: center;
  align-self: baseline;
cursor: pointer;
    background-color:white;
    padding:0.5rem;
    display: flex;
    align-items: center;
    /* justify-items: center; */

    font-family: 'Oswald';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 27px;
text-align: center;
color: #B93B54;
border: 1px solid #000000;
}
.button3 img{
    margin: 0.2rem;
}

.socials-wrap{
    display: flex;

}

.socials-wrap div{
    margin:1rem 1rem;
}

.delivery-wrap{
    font-family: 'Oswald';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 36px;
text-align: center;
color: #333333;
margin-top: 2rem;
/* width: 90%; */
justify-content: center;
}

.delivery{

}

.delivery, .priority, .return{
    display: flex;

}

.priority, .return{
    /* width: 40%; */
    padding:0 1rem;
    margin: 0.1rem 0.1rem;
}

.priority-text, .return-text{
    padding:0.2rem;
    text-align: center;
    vertical-align: middle;
}
