

.subheader{
display: flex;
justify-content: space-between;
padding-top: 2rem;

}


.home-group{
    font-family: 'Oswald';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 36px;
/* text-align: center; */
color: #000000;

}

.breadcrump{
    margin:1rem;
}

.search-header-group{
    padding-left: 10rem;
width: 60%;
text-align: left;
/* padding-bottom: 0; */
/* margin-bottom: 0; */
font-family: 'Oswald';
font-style: normal;
font-weight: 500;
font-size: 64px;
line-height: 95px;
/* text-align: center; */
color: #C4C4C4;
margin: 1rem;

}

.search-header{
    width: 100%;
text-align: left;
text-transform:uppercase;
/* padding-bottom: 0; */
/* margin-bottom: 0; */
font-family: 'Oswald';
font-style: normal;
font-weight: 500;
font-size: 64px;
line-height: 95px;
/* text-align: center; */
color: #C4C4C4;
margin: 1rem;
border: 0px solid #C4C4C4;
border-bottom: 2px solid #C4C4C4;
/* outline: 0;
outline-offset: 0; */
}

.search-area-whole{
    margin:1rem;
    background: #FFFFFF;
    padding: 1rem;
    padding-left: 1rem;
    border: 1px solid #A04955;

}

.size-header, .color-header{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    font-family: 'Oswald';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 180.8%;
letter-spacing: 0.2em;
color: #000000;

}


.searh-by-size, .search-by-color{
    display:flex;
    flex-wrap: wrap;

}

.searh-by-size div, .search-by-color div {
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    vertical-align: middle;
    margin: 0.5rem;
    padding:0.3rem;
    border:0px solid black;
    text-align: center;
    
    background-color: #F1F1F1;
font-family: 'Oswald';
font-style: normal;
font-weight: 300;
font-size: 20px;
/* line-height: 180.8%; */
}

hr{
margin: 0;
margin-top: 1rem;
/* border: 1px solid; */
color: #A04955;
}

.search-results{
    background: #E5E5E5;
    display: flex;
    padding:2rem;

}



.left-part{
    width:30%;
    padding: 1rem;

    
}

.right-part{
    padding: 1rem;
    position: relative;
}

.right-part > .prodcut-card{
    /* min-width: 30%; */

}


.card-holder-cat{
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:2rem;
    
}






/* .product-card{
        width: 30%;
  background-color: #ffffff;
  padding: 1rem; */
  /* align-items: center; */
  /* display: flex; */
  /* flex-direction: column; */
/* display: grid; */
/* grid-template-rows: 50% 23% 10% 10% 10%; */
/* grid-template-rows: 3fr 1.2fr 0.5fr 0.5fr 0.5fr 1fr; */
/* } */

/* .item-button{
    display: flex;	
  justify-content: center;	
}

.available-colors{
    text-align: center;
} */