body {
    max-width: 1440px;
padding: 0;
margin: 0;
margin:0 auto;

}

input{
outline: 0;
outline-offset: 0;

}

nav{
    display:flex;
    align-content: space-between;
    justify-content: space-around;
    /* align-content: space-around; */
}

nav img {
justify-content: center;
}

.nav {
    /* display: flex; */
    align-content: space-between;

}

.nav_menu{
    padding: 0rem;
display: flex;
/* align-content: space-between; */
justify-content: space-between;
align-content: center;
  align-self: center;
list-style-type: none;
text-transform: uppercase;
}

#search_item_menu{
    padding: 0.4rem 2rem;
    border: 1px solid #A04955;
    border-radius: 10px;
    text-decoration: none;
    font-family: 'Oswald';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 22px;
color: #787878;



}


.menu{
display: flex;
justify-content: space-evenly;

}
.menu_item{
    padding: 0.5rem;
    justify-content: center;
    align-content: center;
    align-self: center;
    
font-family: 'Oswald';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;
color: #333333;    

}

li{
    text-decoration: none;
}

li> a {
    text-decoration: none;
    margin: 0;
padding:0.2rem;
color: #333333; 
}

.header{
    margin-top: 3rem;
    display: flex;
    justify-content: space-around;
}

.header-1 {
    /* display: flex; */
    align-items: center;
}

.header-11{
    display: flex;
    flex-direction: column;
    margin: 1rem;
    
}

.header_main{
font-family: 'Oswald';
font-style: normal;
font-weight: 700;
font-size: 65px;
line-height: 96px;
color: #001F3D;

}

.header_second{
    font-family: 'Open Sans';
font-style: normal;
font-weight: 300;
font-size: 24px;
line-height: 33px;
color: #000000;

}

.button1{
    width: 250px;
    padding:0.2rem;
    background-color: white;
    cursor: pointer;

font-family: 'Open Sans';
font-style: normal;
font-weight: 300;
font-size: 24px;
line-height: 33px;
text-align: center;
color: #000000;

}

.discount{
    margin:2rem;
    background: #F1F1F1;
    padding-bottom: 2rem;
}

.discount_header1{
    padding-top: 4rem;
    font-family: 'Oswald';
font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 53px;
color: #333333;
text-align: center;

}

.discount_header2{
font-family: 'Oswald';
font-style: normal;
font-weight: 500;
font-size: 64px;
line-height: 95px;
color: #333333;
text-align: center;
}

.card-holder{
    padding-top: 2rem;
display: flex;
justify-content: space-evenly;

}

.card-holder > .product-card{
    width: 20%;
}

.product-card{
    /* width: 20%; */
  /* background-color: #ffffff; */
  padding: 1rem;
  align-items: center;
  background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  /* display: flex; */
  /* flex-direction: column; */
/* display: grid; */
/* grid-template-rows: 50% 23% 10% 10% 10%; */
/* grid-template-rows: 3fr 1.2fr 0.5fr 0.5fr 1fr; */
}

.item-picture-wrap{
  /* justify-self: center; */
  /* align-self: baseline; */
  text-align: center;
}

.item-name{
  text-align: center;
height: 4rem;

font-family: 'Oswald';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 36px;
text-align: center;
color: #333333;
}

.item-rank{
text-align: center;
   color: #ffac33;
  font-size: 2rem;
}

.item-price{
text-align: center;
    font-family: 'Oswald';
font-style: normal;
font-weight: 200;
font-size: 18px;
line-height: 27px;
text-align: center;
color: #333333;
}

.price-digits{
font-family: 'Oswald';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 27px;
text-align: center;
color: #333333;
}

.item-button{
    display: flex;	
  justify-content: center;	
}

.available-colors{
    text-align: center;
}

.button2{
      /* justify-self: center; */
  /* align-self: center; */
  
  align-items: center;
  justify-content: center;
cursor: pointer;
    background-color: #A04955;
    padding:0.5rem;
    display: flex;
    align-items: center;
    justify-items: center;
border: 1px solid #A04955;
    font-family: 'Oswald';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 27px;
text-align: center;
color: #FFFFFF;
}

.button2 img{
    margin: 0.5rem;
}


.best_pants{
    padding-top: 3rem;;
display: flex;
justify-content: space-around;
}

.pants-left, .pants-right{
padding: 2rem;
}

.pants-header{
font-family: 'Oswald';
font-style: normal;
font-weight: 700;
font-size: 65px;
line-height: 96px;
color: #001F3D;

}

.pants-text{
font-family: 'Open Sans';
font-style: normal;
font-weight: 300;
font-size: 24px;
line-height: 33px;
color: #000000;
margin-bottom: 2rem;

}

.shirts{
    background-color: #E5E5E5;

}

.shirts-offer{
width: 70%;
margin: 0 auto;
display: flex;
justify-content: center;

}

.shirt-card{
    padding: 2rem;
display: grid;
gap:1rem;
grid-template-columns: 5fr;
grid-template-rows: 2.5fr 0.5fr 0.5fr;
}

.shirts-img{
      justify-self: center;
  align-self: baseline;

}

.shirts-text{ 
      justify-self: center;
  align-self: baseline;

  font-family: 'Open Sans';
font-style: normal;
font-weight: 300;
font-size: 24px;
line-height: 33px;
text-align: center;
color: #000000;
 }

.shirt-card > button{ 
      justify-self: center;
  align-self: baseline;
width: 350px;
}

.original-pant{
    position: relative;
}

.original-pants{
    width: 40%;
position: absolute;
top:2rem;
left: 8rem;

}

.original-pants-header{
    font-family: 'Oswald';
font-style: normal;
font-weight: 700;
font-size: 65px;
line-height: 96px;
color: #FFFFFF;
}

.original-pants-text{
    margin-bottom: 2rem;
font-family: 'Open Sans';
font-style: normal;
font-weight: 300;
font-size: 24px;
line-height: 33px;
color: #FFFFFF;
}

.original-pants > button{
    display: block;
    align-self: center;
    width:400px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 300;
font-size: 24px;
line-height: 33px;
text-align: center;
color: #FFFFFF;

}


.stay-trend{
    margin-top:3rem;
    margin-bottom: 25rem;
}

.trend-header{
    text-align: center;
    font-family: 'Oswald';
font-style: normal;
font-weight: 700;
font-size: 65px;
line-height: 96px;
text-align: center;
color: #FFFFFF;
}

.trend-rectangle{
    margin: 0 auto;
    width: 90%;
    height: 350px;
    background-color: #A04955;
    position: relative;

}

.trend-cards-holder{
width:100%;
    position: absolute;
    bottom: -200px;
display: flex;
justify-content: space-evenly;
}

.trend-card{
    width:28%;
background-color: white;
border: 1px solid #A04955;
justify-self: center;
display: grid;
grid-template-rows: 1.5fr 0.2fr 0.3fr;
}
.trend-card >img{
         justify-self: center;
  align-self: center;
}

.card-header{
  display: flex;
  justify-content: center;

    font-family: 'Oswald';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 36px;
color: #333333;
}

.trend-card > button{
  display: flex;
 justify-content: center;

font-family: 'Open Sans';
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 25px;
text-align: center;
color: #FFFFFF;
}

.fifty-years{
    margin-top:5rem;
    margin-bottom: 3rem;

}

.family-rectangle{
    background-color:  #F3F3F3;
    width: 90%;
    margin:0 auto;
    position: relative;
    display: grid;
}

.fifty-years-medal{
    text-align: center;   
    position: absolute;
    top:-150px;
    left: 40%;

}

.family-header{
    text-align: center;
    padding-top:10rem;
    font-family: 'Oswald';
font-style: normal;
font-weight: 700;
font-size: 65px;
line-height: 96px;
text-align: center;
color: #001F3D;

}

.family-text{
    text-align: center;
padding-top: 4rem;
padding-bottom: 5rem;
    font-family: 'Open Sans';
font-style: normal;
font-weight: 300;
font-size: 24px;
line-height: 33px;
color: #000000;

}

.family-rectangle > button{
    justify-content: center;
    margin-bottom: 4rem;
    justify-self: center;
}

.arrow-back{
    position: absolute;
    bottom:-1rem;
    right:-4rem;
}

a{
    text-decoration: none;
}

.footer-rectangle{
    padding: 2rem;
background: #A04955;
display: grid;
grid-template-columns: 1.3fr 1fr 1fr 3fr;
gap:0.5rem;

}

.footer-text-header{
font-family: 'Oswald';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 180.8%;
color: #FFFFFF;

}

.footer-text-item{
font-family: 'Oswald';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 180.8%;
color: #FFFFFF;

}

.subscribe-input{
    /* padding: 0.4rem; */
    border: none;
    /* border-radius: 10px;
    text-decoration: none; */
font-family: 'Oswald';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 180.8%;
/* display: flex; */
align-items: center;
color: #A04955;

}

.subscribe-group{
    /* padding: 1rem 2rem; */
    border: 3px solid white;
    /* border-radius: 10px; */
    text-decoration: none;
    /* display: grid; */
    display: inline-grid;
    grid-template-columns: 3fr 0.1fr;
    align-self:flex-start;
    grid-auto-flow: column;
}

.subscribe-group button{
    padding: 0.5rem 1.5rem;

}

.underfooter{
    padding: 0.2rem 3rem;
    font-family: 'Oswald';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 180.8%;
display: flex;
align-items: center;
color: rgba(0, 0, 0, 0.5);
}
