.header {
	width: 804px;
	height: 200px;
	border: 2px solid orangered;
}

.nav {
	width: 100px;
	height: 400px;
	border: 2px solid orangered;
}

.section {
	width: 700px;
	height: 400px;
	border: 2px solid orangered;
}

.footer {
	width: 804px;
	height: 200px;
	border: 2px solid slategrey;
}

p {
	text-align: center;
}
