input{
    padding:0.1rem;
    margin:0.1rem;
    background-color: rgb(220, 221, 221);
    border:1px solid black;
}

.green_border {
    border: 3px solid green;
}

.green_inpt {
        background-color: rgb(175, 253, 167);

}

.red_border {
    border: 3px solid rgb(255, 38, 0);
}
