.pictures {
    /* display: inline-block; */
    width:860px;
    margin: 0 auto;
    text-align: center;
    position: relative;

}

.pictures img{
    width:100%;
    position: absolute;
    left:0;
    opacity: 0;
    transition: all 500ms;
}


.pictures > img.active{
    opacity: 1;
}