p {
    background-color: rgb(199, 194, 194);
    padding: 0.5rem;
    /* height: 100px; */
    width: 50%;
    /* margin: 0 auto; */

}
input{
    margin-bottom: 0.2rem;
    padding: 0.1rem;
    background-color: rgb(156, 196, 156);
}