#input{
    width: 350px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
}

.green{
    background: rgb(169, 253, 169);
}

.red{
    color: rgb(3, 7, 233);
    background: rgb(255, 96, 96);
    border: 1px solid rgb(248, 38, 38);;
    border-radius: 5px;
    width: 350px;
    padding: 5px;
 
}